* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62, 5%;
    font-family: 'Montserrat', sans-serif;
}

/* ---inicio estilos header--- */
.header {
    z-index: 1000;
    display: flex;
    flex-direction: row;
    background-color: #f1d8c6;
    align-items: center;
    position: sticky;
    top: 0%;
}

.navbar-light .navbar-nav .nav-link {
    color: #7b3c30
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #7b3c3090;
}

.logo {
    width: 3rem;
    height: 3rem;
}

.contenedorLogo {
    align-self: center;
}

.contenedorNav {
    width: 2rem;
}

.menu li {
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    color: #7b3c30;
    font-weight: 800;
    font-size: 0.7rem;
}



/* .menu {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
} */

.titulo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    color: #7b3c30;
}

h3 {
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #7b3c30;
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---fin estilos header */


/* --- inicio estilos card--- */
.cardP {

    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nombreProducto {
    margin: 0.5rem;
    text-transform: uppercase;
    color: #7b3c30;
}

.precioProducto {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #7b3c30;
}

.cardP img {
    width: 15rem;
    border-radius: 10px;
}

button {
    background-color: #7b3c30;
    width: 6.5rem;
    height: 2rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: #7b3c30;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', sans-serif;
}


button:hover {
    background-color: white;
    color: #7b3c30;
}

.navbar-toggler {
    width: 4rem;
    padding: 0rem;
}

/* ---fin estilos card--- */

/* ---  inicio preguntas frecuentes --- */
.contenedorImagen img {
    display: none;
}

.contenedorImagenTexto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    text-align: justify;
    margin-bottom: 2rem;
}

/* --- fin preguntas frecuentes--- */

.whatsapp {
    width: auto;
    z-index: 1000;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.whatsapp img {
    width: 2rem;
    height: 2rem;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0rem;
}

/* --- inicio formulario--- */
input {
    width: 15rem;
    height: 1.5rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: #7b3c30;
    border-width: 0.1rem;
    margin: 0.8rem;
    padding-left: 0.5rem;
}

textarea {
    width: 15rem;
    height: 10rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: #7b3c30;
    border-width: 0.1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    margin: 1rem 0rem 1rem 0rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --- fin formulario--- */


/* ---- inicio estilos footer--- */

.footer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1d8c6;
    padding-top: 0.5rem;
}

.footer p {
    text-align: center;
    font-size: 0.5rem;
}

.abajo {
    align-self: flex-start;
}

.redesFooter {
    width: auto;
}

.redesFooter a {
    text-decoration: none;
    color: #7b3c30;
    margin: 0.5rem;
}

/* --- fin estilos footer--- */

.mapa {
    margin: 2rem 0rem;
    width: 15rem;
}

@media screen and (min-width:768px) {
    /* .body {
        display: grid;
        grid-template-columns: repeat(3 1fr);
        grid-template-rows: repeat(3 1fr);
        grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer";
    } */

    .header {
        flex-direction: row;
        background-color: #f1d8c6;
        /* grid-area: header; */
        align-items: center;
        justify-content: space-between;
    }

    .menu ul {
        display: flex;
        flex-direction: row;
    }

    .menu li {
        padding: 1rem;
    }


    /* .main {
        grid-area: main;
    } */

    .contenedorImagenTexto {
        width: 57%;
    }

    .contenedorCards {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }


    .abajo {
        width: auto;
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    .cardP {
        margin: 1rem 2rem;
    }

    input {
        width: 25rem;
    }

    textarea {
        width: 25rem;
    }

    .mapa {
        width: 25rem;
    }
}

@media screen and (min-width:1024px) {
    /* .body {
        display: grid;
        grid-template-columns: repeat(4 1fr);
        grid-template-rows: repeat(4 1fr);
        grid-template-areas:
            "header header header"
            "main main main main"
            "footer footer footer footer";
    } */

    .contenedorCards {
        width: 100%;
    }

    .cardP {
        margin: 1rem 1rem;
    }

    .cardP:hover {
        transform: scale(1.1);
    }

    .logo {
        width: 5rem;
        height: 5rem;
    }

    .header {
        height: 7rem;
    }


    .menu a {
        font-size: 0.9rem;
        font-weight: bold;
    }


    .menu a:hover {
        /* cambia el color con opacidad 90 */
        color: #7b3c3090;
    }

    .titulo {
        font-size: 3rem;
    }

    button {
        height: 2.5rem;
    }

    button p {
        font-size: 0.9rem;
    }

    h3 {
        font-size: 1rem;
    }

    input {
        width: 45rem;
        height: 2rem;
    }

    textarea {
        width: 45rem;
    }

    .mapa {
        width: 45rem;
    }

    .contenedorImagenTexto {
        width: 75%;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .contenedorImagen {
        width: 45%;
    }

    .contenedorImagen img {
        display: flex;
        width: 100%;
    }

    .contenedorParrafo {
        width: 45%;
    }

    .footer p {
        font-size: 1rem;
    }

    .whatsapp img {
        width: 3rem;
        height: 3rem;
    }
}