* {
  margin: 0;
  padding: 0; }

p {
  color: black;
  font-family: "Montserrat", sans-serif; }

/* inicio mixins */
/* fin mixins */
.header {
  z-index: 1000;
  background-color: #f1d8c6;
  position: sticky;
  top: 0%; }

.navbar-light .navbar-nav .nav-link {
  color: #7b3c30; }

.navbar-light .navbar-nav .nav-link:hover {
  color: #7b3c3090; }

.logo {
  width: 3rem;
  height: 3rem; }

.contenedorLogo {
  align-self: center; }

.menu a {
  text-decoration: none;
  color: #7b3c30;
  font-weight: 800;
  font-size: 0.8rem; }

.menu li {
  list-style-type: none; }

.tituloSecundario, .titulo {
  text-align: center;
  color: #7b3c30;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0.5rem; }

.titulo {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.7rem; }

h3 {
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #7b3c30; }

main {
  display: flex;
  flex-direction: column;
  align-items: center; }

/*  inicio estilos card */
.cardP {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 15rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .cardP img {
    width: 15rem;
    border-radius: 10px; }
  .cardP i {
    color: #7b3c30;
    margin-bottom: 1rem; }

.nombreProducto {
  margin: 0.5rem;
  text-transform: uppercase;
  color: #7b3c30; }

.precioProducto {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #7b3c30; }

/* MAP */
.boton-principal, .boton-iniciarCompra, .boton-vaciarCarrito {
  background-color: #7b3c30;
  width: 6.5rem;
  height: 2rem;
  border-radius: 1rem;
  border-style: solid;
  border-color: #7b3c30;
  text-transform: uppercase;
  color: white;
  font-family: "Montserrat", sans-serif; }

/* ---fin estilos card--- */
.boton-iniciarCompra, .boton-vaciarCarrito {
  width: 8.5rem;
  margin: 0.5rem;
  font-size: 13px; }

#boton-carrito {
  z-index: 5000000;
  border: none;
  background-color: #f1d8c6;
  color: #7b3c30;
  font-size: 1.6rem;
  position: fixed;
  top: 0.9rem;
  left: 48%; }

.boton-eliminar {
  position: absolute;
  right: 15px;
  border: none;
  background-color: white;
  color: #7b3c30; }

.boton-alert {
  border-radius: 1rem !important;
  background-color: #7b3c30 !important;
  color: white !important;
  border-color: #7b3c30 !important;
  border-style: solid !important;
  font-family: "Montserrat", sans-serif !important; }

.alert-icon {
  color: #7b3c30 !important;
  border-color: #7b3c30 !important; }

.alert-title {
  color: #7b3c30 !important; }

.botones-modal {
  display: flex;
  justify-content: space-evenly; }

.modal-contenedor {
  z-index: 200000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden; }

.modal-active {
  margin-top: 0;
  opacity: 1;
  visibility: visible; }

.modal-carrito {
  min-width: 100%;
  overflow-y: auto;
  max-height: 80vh;
  margin-top: 0rem;
  position: relative;
  background-color: white;
  padding: 5px;
  transition: all .5s; }
  .modal-carrito h3 {
    color: #7b3c30;
    padding-bottom: 5px; }
  .modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #7b3c30;
    border: none;
    background-color: white; }

.productoEnCarrito {
  border-left: 5px solid #7b3c30;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .productoEnCarrito img {
    width: 20%; }
  .productoEnCarrito p {
    margin: 0rem; }

.navbar-toggler {
  width: 4rem;
  padding: 0rem; }

.resaltar {
  color: #7b3c30;
  font-weight: bold; }

/* ---  inicio preguntas frecuentes --- */
.contenedorImagen img {
  width: 100%; }

.contenedorImagenTexto {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 70%;
  text-align: justify;
  margin-bottom: 2rem; }

.pregunta {
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #7b3c30; }

/* --- fin preguntas frecuentes--- */
.whatsapp {
  z-index: 1000;
  position: fixed;
  bottom: 1rem;
  right: 1rem; }
  .whatsapp img {
    width: 2rem;
    height: 2rem; }

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem; }

/* --- inicio formulario--- */
input, textarea {
  width: 15rem;
  height: 1.5rem;
  border-radius: 1rem;
  border-style: solid;
  border-color: #7b3c30;
  border-width: 0.1rem;
  margin: 0.8rem;
  padding-left: 0.5rem; }

textarea {
  height: 10rem;
  padding-top: 1rem;
  padding-left: 1rem;
  margin: 1rem 0rem 1rem 0rem; }

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* --- fin formulario--- */
/* ---- inicio estilos footer--- */
.footer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1d8c6;
  padding-top: 0.5rem;
  width: 100%; }
  .footer p {
    font-size: 0.5rem; }

.abajo {
  align-self: flex-start;
  padding-left: 1rem; }

.redesFooter {
  font-size: 1.2rem; }
  .redesFooter a {
    text-decoration: none;
    color: #7b3c30;
    margin: 0.5rem; }

/* --- fin estilos footer--- */
.mapa {
  margin: 2rem 0rem;
  width: 15rem; }

@media screen and (min-width: 768px) {
  .body {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(3 1fr);
    grid-template-areas: "header header header" "main main main" "footer footer footer"; }
  .header {
    flex-direction: row;
    grid-area: header;
    align-items: center;
    justify-content: space-between; }
  .menu ul {
    display: flex;
    flex-direction: row; }
  .menu li {
    padding: 1rem; }
  .main {
    grid-area: main; }
  .contenedorCards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 4rem; }
  .footer {
    grid-area: footer; }
  .abajo {
    display: flex;
    flex-direction: row;
    align-self: center; }
  .cardP {
    margin: 1rem 2rem; }
  input, textarea {
    width: 25rem; }
  .mapa {
    width: 25rem; }
  .modal-carrito {
    padding: 30px;
    max-width: 65%; }
  .productoEnCarrito {
    padding: 2px 50px;
    flex-direction: row;
    justify-content: space-between; } }

@media screen and (min-width: 1024px) {
  .body {
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: repeat(4 1fr);
    grid-template-areas: "header header header" "main main main main" "footer footer footer footer"; }
  .contenedorCards {
    width: 100%; }
  .cardP:hover {
    transform: scale(1.1);
    transition-duration: 1.5s; }
  .logo {
    width: 5rem;
    height: 5rem; }
  .menu a {
    font-size: 0.9rem;
    font-weight: bold; }
    .menu a:hover {
      /* cambia el color con opacidad 90 */
      color: #7b3c3090; }
  .titulo {
    font-size: 3rem; }
  .boton-principal, .boton-iniciarCompra, .boton-vaciarCarrito {
    height: 2.5rem; }
    .boton-principal:hover, .boton-iniciarCompra:hover, .boton-vaciarCarrito:hover {
      background-color: white;
      color: #7b3c30; }
  h3 {
    font-size: 1rem; }
  input, textarea {
    width: 45rem;
    height: 2rem; }
  textarea {
    height: 10rem; }
  .mapa {
    width: 45rem; }
  .contenedorImagenTexto {
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    margin-bottom: 2rem; }
  .contenedorImagen {
    width: 45%; }
  .contenedorParrafo {
    width: 45%; }
  .modal-carrito {
    min-width: 40%; }
  .boton-iniciarCompra, .boton-vaciarCarrito {
    width: 12rem;
    font-size: 16px; }
  .footer p {
    font-size: 0.75rem; }
  .whatsapp img {
    width: 3rem;
    height: 3rem; }
  #boton-carrito {
    font-size: 2rem;
    left: 90%;
    padding: 10px; }
    #boton-carrito:hover {
      border-radius: 1rem;
      background-color: #7b3c30;
      color: white; }
  .redesFooter {
    font-size: 1.4rem; }
    .redesFooter i:hover {
      transform: rotate(360deg);
      transition-duration: 1.5s; } }
