@import "variables";

* {
    margin: 0;
    padding: 0;
}



p {
    color: black;
    font-family: $fontPrincipal;
}



/* inicio mixins */
@mixin flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin grids ($grid, $colums, $rows) {
    display: $grid;
    grid-template-columns: $colums;
    grid-template-rows: $rows;
}

/* fin mixins */

.header {
    z-index: 1000;
    background-color: $colorPrincipal;
    position: sticky;
    top: 0%;
}

.navbar-light .navbar-nav .nav-link {
    color: $colorSecundario;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: $colorSecundarioConOpacidad;
}

.logo {
    width: 3rem;
    height: 3rem;
}

.contenedorLogo {
    align-self: center;
}

.menu {
    a {
        text-decoration: none;
        color: $colorSecundario;
        font-weight: 800;
        font-size: 0.8rem;
    }

    li {
        list-style-type: none;
    }
}


.tituloSecundario {
    text-align: center;
    color: $colorSecundario;
    font-family: $fontSecundario;
    margin-bottom: 0.5rem;

}

.titulo {
    @extend .tituloSecundario;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.7rem;
}

h3 {
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: $colorSecundario;
}

main {
    @include flexbox();
}

/*  inicio estilos card */
.cardP {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 15rem;
    text-align: center;
    @include flexbox();

    img {
        width: 15rem;
        border-radius: 10px;
    }

    i {
        color: $colorSecundario;
        margin-bottom: 1rem;
    }
}

.nombreProducto {
    margin: 0.5rem;
    text-transform: uppercase;
    color: $colorSecundario;
}

.precioProducto {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: $colorSecundario;
}

/* MAP */
$estilosButton: (bgColor: $colorSecundario,
    6.5rem: 6.5rem,
    2rem: 2rem,
    1rem: 1rem,
    style: solid,
    bColor: $colorSecundario,
    textT: uppercase,
    color: white,
    fontF: $fontPrincipal,
);

.boton-principal {
    background-color: map-get($estilosButton, bgColor);
    width: map-get($estilosButton, 6.5rem);
    height: map-get($estilosButton, 2rem);
    border-radius: map-get($estilosButton, 1rem);
    border-style: map-get($estilosButton, style);
    border-color: map-get($estilosButton, bColor);
    text-transform: map-get($estilosButton, textT);
    color: map-get($estilosButton, color);
    font-family: map-get($estilosButton, fontF);
}

/* ---fin estilos card--- */

.boton-vaciarCarrito{
    @extend .boton-principal;
    width: 8.5rem;
    margin: 0.5rem;
    font-size: 13px;
}

.boton-iniciarCompra{
    @extend .boton-vaciarCarrito
}


#boton-carrito{
    border: none;
    background-color:$colorPrincipal;
    color: $colorSecundario;
    font-size: 2rem;
    margin-right: 0.7rem;
}
.boton-eliminar{
    position: absolute;
    right: 15px;
    border: none;
    background-color: white;
    color: $colorSecundario;
}

.boton-alert{
    border-radius: 1rem !important;
    background-color: $colorSecundario !important;
    color: white !important;
    border-color: $colorSecundario !important;
    border-style: solid !important;
    font-family: $fontPrincipal !important;
}
.alert-icon{
    color: $colorSecundario !important;
    border-color: $colorSecundario !important;
} 
.alert-title{
    color: $colorSecundario !important;
}
.botones-modal{
    display: flex;
    justify-content: space-evenly;
}
.modal-contenedor {
    z-index: 200000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    min-width: 100%;
    overflow-y: auto;
    max-height: 80vh;
    margin-top: 0rem;
    position: relative;
    background-color: white;
    padding: 5px;
    transition: all .5s;

    h3{
        color: $colorSecundario;
        padding-bottom: 5px;
    }
    #carritoCerrar{
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 20px;
        color: $colorSecundario;
        border: none;
        background-color: white;
    }

}

.productoEnCarrito {
    border-left: 5px solid $colorSecundario;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 1rem 0;
    // padding: 2px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 20%;
    }
    p{
        margin: 0rem;
    }
}



.navbar-toggler {
    width: 4rem;
    padding: 0rem;
}

.resaltar {
    color: $colorSecundario;
    font-weight: bold;
}

/* ---  inicio preguntas frecuentes --- */
.contenedorImagen {
    img {
        width: 100%;
    }
}

.contenedorImagenTexto {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 70%;
    text-align: justify;
    margin-bottom: 2rem;
}

.pregunta {
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: $colorSecundario;
}

/* --- fin preguntas frecuentes--- */

.whatsapp {
    z-index: 1000;
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    img {
        width: 2rem;
        height: 2rem;
    }
}

.newsletter {
    @include flexbox();
    margin-bottom: 3rem;
}

/* --- inicio formulario--- */
input {
    width: 15rem;
    height: 1.5rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: $colorSecundario;
    border-width: 0.1rem;
    margin: 0.8rem;
    padding-left: 0.5rem;
}

textarea {
    @extend input;
    height: 10rem;
    padding-top: 1rem;
    padding-left: 1rem;
    margin: 1rem 0rem 1rem 0rem;
}

.formulario {
    @include flexbox();
}

/* --- fin formulario--- */

/* ---- inicio estilos footer--- */

.footer {
    margin-top: 1rem;
    @include flexbox();
    background-color: $colorPrincipal;
    padding-top: 0.5rem;
    width: 100%;

    p {
        font-size: 0.5rem;
    }
}

.abajo {
    align-self: flex-start;
    padding-left: 1rem;
}


.redesFooter {
    font-size: 1.2rem;

    a {
        text-decoration: none;
        color: $colorSecundario;
        margin: 0.5rem;
    }
}

/* --- fin estilos footer--- */

.mapa {
    margin: 2rem 0rem;
    width: 15rem;
}

@media screen and (min-width:768px) {
    .body {
        @include grids(grid, repeat(3 1fr), repeat(3 1fr));
        grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer";
    }

    .header {
        flex-direction: row;
        grid-area: header;
        align-items: center;
        justify-content: space-between;
    }

    .menu {
        ul {
            display: flex;
            flex-direction: row;
        }

        li {
            padding: 1rem;
        }
    }

    .main {
        grid-area: main;
    }

    .contenedorCards {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin-bottom: 4rem;
    }

    .footer {
        grid-area: footer;
    }

    .abajo {
        display: flex;
        flex-direction: row;
        align-self: center;

    }

    .cardP {
        margin: 1rem 2rem;
    }

    input {
        width: 25rem;
    }

    .mapa {
        width: 25rem;
    }

    .modal-carrito{
        padding: 30px;
        max-width: 65%;
    }
    .productoEnCarrito{
        padding: 2px 50px;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width:1024px) {
    .body {
        @include grids(grid, repeat(4 1fr), repeat(4 1fr));
        grid-template-areas:
            "header header header"
            "main main main main"
            "footer footer footer footer";
    }

    .contenedorCards {
        width: 100%;
    }

    .cardP {
        &:hover {
            transform: scale(1.1);
            transition-duration: 1.5s;
        }
    }

    .logo {
        width: 5rem;
        height: 5rem;
    }


    .menu {
        a {
            font-size: 0.9rem;
            font-weight: bold;

            &:hover {
                /* cambia el color con opacidad 90 */
                color: $colorSecundarioConOpacidad;
            }
        }
    }


    .titulo {
        font-size: 3rem;
    }

    .boton-principal {
        height: 2.5rem;

        &:hover {
            background-color: white;
            color: $colorSecundario;
        }
    }

    h3 {
        font-size: 1rem;
    }

    input {
        width: 45rem;
        height: 2rem;
    }

    textarea {
        height: 10rem;
    }

    .mapa {
        width: 45rem;
    }

    .contenedorImagenTexto {
        flex-direction: row;
        width: 75%;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .contenedorImagen {
        width: 45%;
    }

    .contenedorParrafo {
        width: 45%;
    }

    .modal-carrito{
        min-width: 40%;
    }
    .boton-iniciarCompra{
        width: 12rem;
        font-size: 16px;
    }

    .boton-vaciarCarrito{
        @extend .boton-iniciarCompra
    }
    .footer {
        p {
            font-size: 0.75rem;
        }
    }

    .whatsapp {
        img {
            width: 3rem;
            height: 3rem;
        }
    }

    #boton-carrito{
        padding: 10px;
        &:hover{
            border-radius: 1rem;
            background-color: $colorSecundario;
            color: white;

        }
    }
    .redesFooter {
        font-size: 1.4rem;

        i {
            &:hover {
                transform: rotate(360deg);
                transition-duration: 1.5s;
            }
        }
    }
}