@import "variables";

* {
    margin: 0;
    padding: 0;
}

p {
    color: black;
    font-family: $fontPrincipal;
}

/* inicio mixins */
@mixin flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin grids ($grid, $colums, $rows) {
    display: $grid;
    grid-template-columns: $colums;
    grid-template-rows: $rows;
}

/* fin mixins */

.header {
    z-index: 1000;
    background-color: $colorPrincipal;
    position: sticky;
    top: 0%;
}

.navbar-light .navbar-nav .nav-link {
    color: $colorSecundario;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: $colorSecundarioConOpacidad;
}

.logo {
    width: 3rem;
    height: 3rem;
}

.contenedorLogo {
    align-self: center;
}

.menu {
    a {
        text-decoration: none;
        color: $colorSecundario;
        font-weight: 800;
        font-size: 0.7rem;
    }

    li {
        list-style-type: none;
    }
}

.titulo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: $fontSecundario;
    font-size: 1.7rem;
    color: $colorSecundario;
}

h3 {
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: $colorSecundario;
}

main {
    @include flexbox();
}

/*  inicio estilos card */
.cardP {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    @include flexbox();

    img {
        width: 15rem;
        border-radius: 10px;
    }
}

.nombreProducto {
    margin: 0.5rem;
    text-transform: uppercase;
    color: $colorSecundario;
}

.precioProducto {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: $colorSecundario;
}

/* MAP */
$estilosButton: (
    bgColor: $colorSecundario,
    6.5rem: 6.5rem,
    2rem: 2rem,
    1rem: 1rem,
    style: solid,
    bColor: $colorSecundario,
    textT: uppercase,
    color: white,
    fontF: $fontPrincipal,
);

button {
    background-color: map-get($estilosButton, bgColor);
    width: map-get($estilosButton, 6.5rem);
    height: map-get($estilosButton, 2rem);
    border-radius: map-get($estilosButton, 1rem);
    border-style: map-get($estilosButton, style);
    border-color: map-get($estilosButton, bColor);
    text-transform: map-get($estilosButton, textT);
    color: map-get($estilosButton, color);
    font-family: map-get($estilosButton, fontF);

    &:hover {
        background-color: white;
        color: $colorSecundario;
    }
}

/* ---fin estilos card--- */

.navbar-toggler {
    width: 4rem;
    padding: 0rem;
}

/* ---  inicio preguntas frecuentes --- */
.contenedorImagen {
    img {
        display: none;
    }
}

.contenedorImagenTexto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    text-align: justify;
    margin-bottom: 2rem;
}

/* --- fin preguntas frecuentes--- */

.whatsapp {
    z-index: 1000;
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    img {
        width: 2rem;
        height: 2rem;
    }
}

.newsletter {
    @include flexbox();
    margin: 3rem 0rem;
}

/* --- inicio formulario--- */
input {
    width: 15rem;
    height: 1.5rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: $colorSecundario;
    border-width: 0.1rem;
    margin: 0.8rem;
    padding-left: 0.5rem;
}

textarea {
    @extend input;
    height: 10rem;
    padding-top: 1rem;
    padding-left: 1rem;
    margin: 1rem 0rem 1rem 0rem;
}

.formulario {
    @include flexbox();
}

/* --- fin formulario--- */

/* ---- inicio estilos footer--- */

.footer {
    margin-top: 1rem;
    @include flexbox();
    background-color: $colorPrincipal;
    padding-top: 0.5rem;
    width: 100%;

    p {
        font-size: 0.5rem;
    }
}

.abajo {
    align-self: flex-start;
}

.redesFooter {
    a {
        text-decoration: none;
        color: $colorSecundario;
        margin: 0.5rem;
    }
}

/* --- fin estilos footer--- */

.mapa {
    margin: 2rem 0rem;
    width: 15rem;
}

@media screen and (min-width:768px) {
    .body {
        @include grids(grid, repeat(3 1fr), repeat(3 1fr));
        grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer";
    }

    .header {
        flex-direction: row;
        grid-area: header;
        align-items: center;
        justify-content: space-between;
    }

    .menu {
        ul {
            display: flex;
            flex-direction: row;
        }

        li {
            padding: 1rem;
        }
    }

    .main {
        grid-area: main;
    }

    .contenedorImagenTexto {
        width: 57%;
    }

    .contenedorCards {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .footer {
        grid-area: footer;
    }

    .abajo {
        display: flex;
        flex-direction: row;
        align-self: center;

    }

    .cardP {
        margin: 1rem 2rem;
    }

    input {
        width: 25rem;
    }

    .mapa {
        width: 25rem;
    }
}

@media screen and (min-width:1024px) {
    .body {
        @include grids(grid, repeat(4 1fr), repeat(4 1fr));
        grid-template-areas:
            "header header header"
            "main main main main"
            "footer footer footer footer";
    }

    .contenedorCards {
        width: 100%;
    }

    .cardP {
        &:hover {
            transform: scale(1.1);
        }
    }

    .logo {
        width: 5rem;
        height: 5rem;
    }


    .menu {
        a {
            font-size: 0.9rem;
            font-weight: bold;

            &:hover {
                /* cambia el color con opacidad 90 */
                color: $colorSecundarioConOpacidad;
            }
        }
    }


    .titulo {
        font-size: 3rem;
    }

    button {
        height: 2.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    input {
        width: 45rem;
        height: 2rem;
    }

    textarea {
        height: 10rem;
    }

    .mapa {
        width: 45rem;
    }

    .contenedorImagenTexto {
        width: 75%;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .contenedorImagen {
        width: 45%;

        img {
            display: flex;
            width: 100%;
        }
    }

    .contenedorParrafo {
        width: 45%;
    }

    .footer {
        p {
            font-size: 1rem;
        }
    }

    .whatsapp {
        img {
            width: 3rem;
            height: 3rem;
        }
    }
}